@model ProyectoAgendaCultural.ViewModels.EventoPorArtistasViewModel

@{
    ViewBag.Title = "Detalles";
}
<style>
    #map {
        height: 500px;
        width: 750px;
    }
</style>
<br />
<br />
<h2>Detalles</h2>
<!-- Contenido cuerpo -->
<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <h2><b>@Model.DetallarEventos.Nombre_evento</b></h2>
            <h6><b>Categoría: </b>@Model.DetallarEventos.Categoria</h6>
            <div class="text-center">
                <img src="~/Resources/ImagenesEventos/@Model.DetallarEventos.Imagen" height="500" width="500" class="img-responsive">
            </div>
            <br>
            <p style="text-justify:auto ">
                @Model.DetallarEventos.Descripcion
            </p>

            <!--Clearfix de FECHAS Y HORAS-->
            <div class="clearfix" style="background-color: #00b5e4">
                <h4 style="margin-left:15px"><b><span class="glyphicon glyphicon-calendar"></span>  FECHAS Y HORAS</b></h4>
            </div>
            <h5><b>Fecha: </b>@Html.DisplayFor(model => model.DetallarEventos.Fecha_evento)</h5>
            <h5><b>Hora de inicio: </b>@Html.DisplayFor(model => model.DetallarEventos.Hora_inicio) h</h5>
            <h5><b>Hora final: </b>@Html.DisplayFor(model => model.DetallarEventos.Hora_final) h</h5>

            <!--Clearfix de INFORMACION ADICIONAL-->
            <div class="clearfix" style="background-color: #00b5e4">
                <h4 style="margin-left:15px"><b><span class="glyphicon glyphicon-info-sign"></span>   INFORMACIÓN ADICIONAL</b></h4>
            </div>
            @if (Model.DetallarEventos.Informacion_pago is true)
            {
                <h5>Evento gratuito</h5>
                <p>
                    @Model.DetallarEventos.Informacion_adicional
                </p>
            }
            else
            {
                <h5>Evento pagado</h5>
                <p>
                    @Model.DetallarEventos.Informacion_adicional
                </p>
            }

            <!--Clearfix de organizadores-->
            <div class="clearfix" style="background-color: #00b5e4">
                <h4 style="margin-left:15px"><b><span class="glyphicon glyphicon-book"></span>   ORGANIZADOR</b></h4>
            </div>
            <h5><b>Evento organizado por :</b></h5>
            @{Html.RenderPartial("_organizadoresEvento", Model.OrganizadoresDeEventos);}


            <!--Clearfix de LUGAR-->
            <div class="clearfix" style="background-color: #00b5e4">
                <h4 style="margin-left:15px"><b><span class="glyphicon glyphicon-map-marker"></span>   LUGAR</b></h4>
            </div>
            <h5><b>Lugar del evento: </b>@Model.DetallarEventos.Nombre_lugar</h5>
            <h5>@Model.DetallarEventos.Nombre_direccion , @Model.DetallarEventos.Nombre_ciudad , @Model.DetallarEventos.Nombre_provincia</h5>
            <br />
            <hr class="hidden-sm hidden-md hidden-lg">

            <!--Mapa de lugar-->
            <div class="row">
                <div id="map">
                </div>
            </div>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaVpvGAxAndDdraBUZLQohh6FXCO63ndQ&callback=initMap">
            </script>
            <script src="~/Scripts/MainMapa.js"></script>
            <script src="~/Scripts/localizacionLugar.js"></script>

        </div>



        <div class="col-sm-4">
            <h2><b>Artistas del evento</b></h2>
             @{Html.RenderPartial("_artistasEvento", Model.ArtistasDeEventos);}
            <br>
        </div>
    </div>
</div>

<hr />
<br />
<br />
