@model IEnumerable<ProyectoAgendaCultural.Models.ClasesSP.SPEventos>

@{
    ViewBag.Title = "ListaEventos";
}

<h2>ListaEventos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_organizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_organizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_evento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_evento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_organizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_organizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_evento)
            </td>
        </tr>
    }

</table>
