@model IEnumerable<ProyectoAgendaCultural.Models.Artista>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<br />
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<h1>Conoce a nuestros artistas</h1>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="columnaArt">
            <div class="card">
                <img src="~/Resources/ImagenesArtistas/@item.Imagen" alt="Jane" style="width:100%">
                <div class="containerArt">
                    <h3>@item.Nombres @item.Apellidos</h3>
                    <p class="titleArt">@item.Disciplina</p>
                    <p>@item.Email</p>
                    <a href="@item.Twitter" class="etiquetaA" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="@item.Instagram" class="etiquetaA" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="@item.Facebook" class="etiquetaA" target="_blank"><i class="fa fa-facebook"></i></a>
                    <p><a class="buttonArt" type="button" href="/Artista/Details/@item.Id">Ver perfil</a></p>
                </div>
            </div>
        </div>
    }
</div>
